{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
      <div class="h-75 d-flex flex-column align-items-center justify-content-center">
              <h2 class="text-center mb-3">Log in</h2>
          <div class="blue" class="p-3 bd-highlight col-example">
          <form class="col-12" method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-flex align-items-center justify-content-center">
                <input type="submit" value="Log in"><br><br>
            </div>
          </form>
          </div>
      </div>
{% endblock %}