{% extends 'base.html' %}

{% block title %}
Заказы
{% endblock %}

{% block content %}
<script>
    function increment(basketID) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", '/orders/?add_count=' + basketID, false);
        xmlHttp.send(null);
        if (xmlHttp.status == 201) {
            $('#number_' + basketID).html(parseFloat($('#number_' + basketID).html(), 10) + 1)
            $('#final_cost').html(parseFloat($('#final_cost').html(), 10) + parseFloat($('#cost_' + basketID).html(), 10))
        }
        return xmlHttp.responseText;
    }

    function decrement(basketID) {
        if (parseInt($('#number_' + basketID).html(), 10) > 0) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/orders/?delete_count=' + basketID, false);
            xmlHttp.send(null);
            if (xmlHttp.status == 201) {
                $('#number_' + basketID).html(parseFloat($('#number_' + basketID).html(), 10) - 1)
                $('#final_cost').html(parseFloat($('#final_cost').html(), 10) - parseFloat($('#cost_' + basketID).html(), 10))
            }
            return xmlHttp.responseText;
        }
    }
</script>
{% if user.is_staff or user.seller %}
<div class="border h-100 border-light p-3 mb-4">
    <div class="row w-100">
        <div class="col scroll-none" style="overflow-x: auto;">
            <div class="d-flex justify-content-between">
                <H4>Корзина</H4>
                <H4>Заказ № {{ items_list.0.order_id.id }}</H4>
            </div>
            <table class="table table-hover rounded bg-light shadow">
                <thead>
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col">Штрихкод</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items_list %}
                        <tr>
                            <td>{{ item.pill_id.name }}</td>
                            <td>{{ item.pill_id.barcode }}</td>
                            <td>
                                <div>
                                    <button type="submit" name="add_to_cart" onclick="decrement({{item.id}})"
                                            class="btn-primary btn-sm mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>

                                    </button>
                                    <span id="number_{{ item.id }}">{{ item.count }}</span>
                                    <button type="submit" name="add_to_cart" onclick="increment({{item.id}})"
                                            class="btn-sm btn-primary mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                            <td id="cost_{{ item.id }}">{{ item.pill_id.cost }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td/>
                            <td/>
                            <td class="font-weight-bold h5">Итог</td>
                            <td class="font-weight-bold h5 ">
                                <span id="final_cost">{{ final_cost }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center rounded p-2 mb-2 w-25">
                    <form method="post" class="text-light">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" value="Отмена" name="cancel_order" class="btn btn-dark">
                            <input type="submit" value="Подтвердить" name="create_order" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            You have not enough permissions to use the content. Please contact your administrator
        </div>
    {% endif %}
{% endblock %}