{% extends 'base.html' %}

{% block title %}
    Препараты
{% endblock %}

{% block content %}
    {% if user.is_staff or user.seller %}
    <div class="border h-100 border-light p-3 mb-4">
        <div class="row" >
            <div class="col scroll-none" style="overflow-x: auto;">
                <table class="table table-hover rounded bg-light shadow">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Наименование</th>
                      <th scope="col">Цена</th>
                      <th scope="col">Дата выпуска</th>
                      <th scope="col">Годен до</th>
                      <th scope="col">Категория</th>
                      <th scope="col">Производитель</th>
                      <th scope="col">Штрихкод</th>
                      <th scope="col">ID рецепта</th>
                      <th scope="col">Информация</th>
                      <th scope="col">Количество</th>
                      <th scope="col">Аптека</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in pills_list%}
                    <tr>
                      <th scope="row">{{item.id}}</th>
                        <td>{{item.pill_id.name}}</td>
                        <td>{{item.pill_id.cost}}</td>
                        <td>{{item.pill_id.reg_date}}</td>
                        <td>{{item.pill_id.end_date}}</td>
                        <td>{{item.pill_id.category}}</td>
                        <td>{{item.pill_id.country}}</td>
                        <td>{{item.pill_id.barcode}}</td>
                        <td>
                            {% if item.pill_id.recipe_id%}
                                {{item.pill_id.recipe_id}}
                            {% else %}
                                Без рецепта
                            {% endif %}
                        </td>
                        <td>{{item.pill_id.info}}</td>
                        <td>{{item.count}}</td>
                      <td>{{item.pharmacy_id.city}}, {{item.pharmacy_id.address}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="bg-light shadow rounded p-2 mb-2">
                    <form method="post" class="text" autocomplete="off">
                        {% csrf_token %}
                        <label class="text py-2">Поиск по наименованию</label>
                        <div class="form-group">
                            {{form_pills_search_name}}
                        </div>
                        <div class="form-group">
                             <input type="submit" name="pill_search_name" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                <div class="bg-light shadow rounded p-2 mb-2">
                    <form method="post" class="text" autocomplete="off">
                        {% csrf_token %}
                        <label class="text py-2">Поиск по категории</label>
                        <div class="form-group">
                            {{form_pill_search_category}}
                        </div>
                        <div class="form-group">
                             <input type="submit" name="pill_search_category" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                <div class="bg-light shadow rounded p-2 mb-2">
                    <form method="post" class="text" autocomplete="off">
                        {% csrf_token %}
                        <label class="text py-2">Поиск по цене</label>
                        <div class="form-group">
                            {{form_pill_search_cost}}
                        </div>
                        <div class="form-group">
                             <input type="submit" name="pill_search_cost" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                    <div class="bg-light shadow-sm rounded p-2 mb-2">
                        <form method="post" class="text" autocomplete="off">
                            {% csrf_token %}
                            <label class="text py-2">Поиск по сроку годности</label>
                                <div class="form-group">
                                    {{form_pill_search_date}}
                                </div>
                                <div class="form-group my-2" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            <div class="form-group">
                                 <input type="submit" name="pill_search_date" class="btn btn-primary">
                            </div>
                        </form>
                        <script>
                          $(function () {
                            $("#datetimepicker4").datetimepicker({
                              format: 'DD/MM/YYYY HH:mm',
                            });
                          });
                        </script>
                      </div>
<!--                    <div class="bg-light shadow-sm rounded p-2 mb-2">-->
<!--                        <form method="post" class="text-light" autocomplete="off" >-->
<!--                            {% csrf_token %}-->
<!--                            <label class="text-light py-2">Добавить препарат</label>-->
<!--                            <div class="form-group" >-->
<!--                                <div class="form-group">-->
<!--                                {{form_pill_add}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                            <div class="form-group col" data-target="#datetimepicker5" data-toggle="datetimepicker">-->
<!--                                    <div class="input-group-text">-->
<!--                                        <i class="fa fa-calendar"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            <div class="form-group col" data-target="#datetimepicker6" data-toggle="datetimepicker">-->
<!--                                    <div class="input-group-text">-->
<!--                                        <i class="fa fa-calendar"></i>-->
<!--                                    </div>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                 <input type="submit" name="add_pill" class="btn btn-primary">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        <script>-->
<!--                          $(function () {-->
<!--                            $("#datetimepicker5").datetimepicker({-->
<!--                              format: 'DD/MM/YYYY HH:mm',-->
<!--                            });-->
<!--                          });-->
<!--                          $(function () {-->
<!--                            $("#datetimepicker6").datetimepicker({-->
<!--                              format: 'DD/MM/YYYY HH:mm',-->
<!--                            });-->
<!--                          });-->
<!--                        </script>-->
<!--                      </div>-->
<!--                    <div class="bg-light shadow-sm rounded p-2 mb-2">-->
<!--                        <form method="post" class="text-light" autocomplete="off">-->
<!--                            {% csrf_token %}-->
<!--                            <label class="text-light py-2">Изменить препарат</label>-->
<!--                            <div class="form-group">-->
<!--                                {{form_pill_update}}-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="form-group my-2 col" data-target="#datetimepicker7" data-toggle="datetimepicker">-->
<!--                                        <div class="input-group-text">-->
<!--                                            <i class="fa fa-calendar"></i>-->
<!--                                        </div>-->
<!--                                </div>-->
<!--                                <div class="form-group my-2 col" data-target="#datetimepicker8" data-toggle="datetimepicker">-->
<!--                                        <div class="input-group-text">-->
<!--                                            <i class="fa fa-calendar"></i>-->
<!--                                        </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                 <input type="submit" name="update_pill" class="btn btn-primary">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        <script>-->
<!--                          $(function () {-->
<!--                            $("#datetimepicker7").datetimepicker({-->
<!--                              format: 'DD/MM/YYYY HH:mm',-->
<!--                            });-->
<!--                          });-->
<!--                          $(function () {-->
<!--                            $("#datetimepicker8").datetimepicker({-->
<!--                              format: 'DD/MM/YYYY HH:mm',-->
<!--                            });-->
<!--                          });-->
<!--                        </script>-->
<!--                      </div>-->
<!--                    <div class="bg-dark rounded p-2 mb-2">-->
<!--                        <form method="post" class="text-light" autocomplete="off">-->
<!--                            {% csrf_token %}-->
<!--                            <label class="text-light py-2">Удалить препарат</label>-->
<!--                            <div class="form-group">-->
<!--                                {{form_pill_delete}}-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                 <input type="submit" name="delete_pill" class="btn btn-primary">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                      </div>-->
            </div>
        </div>
    </div>
    {% else %}
    <div>
        You have not enough permissions to use the content. Please contact your administrator
    </div>
    {% endif %}
{% endblock %}