{% extends 'base.html' %}

{% block title %}
    Рецепты
{% endblock %}

{% block content %}
    {% if user.is_staff or user.seller %}
        <div class="border h-100 border-light p-3 mb-4">
            <div class="row w-100">
                <div class="col">
                    <table class="table table-hover rounded bg-light shadow">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Врач</th>
                            <th scope="col">Препарат</th>
                            <th scope="col">Подпись</th>
                            <th scope="col">Срок годности</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in recipes_list %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.doctor }}</td>
                                <td>{{ item.pill_name }}</td>
                                <td>{{ item.signature }}</td>
                                <td>{{ item.expire_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            You have not enough permissions to use the content. Please contact your administrator
        </div>
    {% endif %}
{% endblock %}



